body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


.sidebar {
    background-color: #f1f1f1;
    padding: 20px;
    width: 20%;
    float: left;
}

.main {
    width: 75%;
    margin-left: 25%;
    padding: 20px;
}

/* Estilo da lista de itens do menu */
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #ddd;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    margin: 0 auto;
    max-width: 500px;
    padding: 0;
}

li {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

li:last-child {
    margin-bottom: 0;
}

a {
    color: #428bca;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #306090;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

footer p {
    margin: 0;
    font-size: 1rem;
}

footer a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #bbb;
}
