/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fcfcfc;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #0062cc;
}

main {
    padding: 50px 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

a {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out;
}

a:hover {
    background-color: #0062cc;
    cursor: pointer;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

/* Estilos específicos para a página de registro */
.error {
    color: #f00;
    margin-bottom: 10px;
}

.success {
    color: #0a0;
    margin-bottom: 10px;
}
