table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4CAF50;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}
footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}